<div class="p-2">
    {{#if user.is_admin }}
    <a href="/competitions/add" class="btn btn-primary">Novo natjecanje</a>
    {{/if}}

    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID natjecanja</th>
                    <th>Ime</th>
                    <th>Opis</th>
                    <th>Rok prijave</th>
                    <th>Maksimalni broj natjecatelja</th>
                    <th>Trenutni broj natjecatelja</th>
                    <th>Autor</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>
                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>
                        <div class="line-clamp-2">
                            {{this.description}}
                        </div>
                    </td>
                    <td x-data="{}">
                        <span x-text="new Date('{{this.apply_till}}').toLocaleString()"></span>
                    </td> 
                    <td>{{this.max_comp}}</td>
                    <td>{{this.cur_comp}}</td>
                    <td>{{this.author}}</td>
                    <td class="flex flex-wrap gap-2">
                        <a href="/competitions/apply/{{this.id}}" class="btn  bg-yellow-500 btn-xs">Prijava</a>
                        <a href="/competitions/ispis/{{this.id}}" class="btn bg-orange-300 btn-xs">Ispis</a>
                        {{#if ../user.is_admin}}
                        <a href="/competitions/edit/{{this.id}}" class="btn bg-green-600 btn-xs">Uredi</a>
                        <a href="/competitions/delete/{{this.id}}" class="btn bg-red-600 btn-xs">Briši</a>
                        <a href="/competitions/rezultati/{{this.id}}" class="btn bg-fuchsia-600 btn-xs">Unos bodova</a>                                      
                        {{/if}}                       
                    </td>                   
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>