<div class="overflow-x-auto">
    <div style="display: flex; justify-content: center; font-size: 40px;">Pitanja iz natjecanja: </div>
    <div style="display: flex; justify-content: center; font-size: 30px;">
        {{this.result.items.[0].nameCompetition}}
    </div>
    {{#if user.is_admin }}
    <a href="/competitions/questions/addq" class="mx-1 btn btn-right bg-fuchsia-600 btn-xl">Dodaj pitanje</a>
    {{/if}}

    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID pitanja</th>
                    <th>Pitanje</th>
                    <th>Tocan odgovor</th>
                    <th>Bodovi</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>
                {{#each result.items}}
                <tr>
                    <th>{{this.idquest}}</th>
                    <td>{{this.question}}</td>
                    <td>{{this.corr_ans}}</td>
                    <td>{{this.points}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>