<div class="p-2">
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime natjecatelja</th>
                    <th>Ime natjecanja</th>
                    <th>Broj bodova</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>
                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.nameUser}}</td>
                    <td>{{this.nameCompetition }}</td>
                    <td>{{this.points}}</td>
                    <td class="">
                        <form method="post" action="/competitions/rezultati/{{this.id}}">
                            <input type="text" name="score" placeholder="Unesite broj bodova" value="{{this.score}}"
                                class="input input-bordered w-full max-w-xs" />
                            <input type="hidden" name="id" value="{{this.id}}" />
                            <input type="submit" class="btn btn-primary" value="Potvrdi" />
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>