<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime natjecatelja</th>
                <th>Ime natjecanja</th>
                <th>Rok prijave</th>
                <th>Bodovi</th>
            </tr>
        </thead>
        <!-- body -->
        <tbody>
            {{#each result.items}}
            <tr>
                <th>{{this.id}}</th>
                <td>{{this.nameUser}}</td>
                <td>{{this.nameCompetition }}</td>
                <td>{{this.date}}</td>
                <td>{{this.points}}</td>
                <td>
                    <form method="post" action="/competitions/rezultat/{{this.id}}" class="flex flex-col gap-2">

                        <input type="text" name="bodovi" required="" minlength="1" maxlength="50"
                            value="{{this.points}}" class="input input-bordered flex flex-col gap-2"
                            placeholder="Unesite broj bodova" />
                        <input type="text" name="competition_id" required="" hidden="" minlength="1" maxlength="50"
                            value="{{this.competition_id }}" />

                        <input type="submit" value="Potvrdi" class="flex-1 btn btn-primary" />

                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>